// CONTAINER
.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media only screen and (max-width: $tablet-l) {
    max-width: 1000px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 680px;
  }

  @media only screen and (max-width: 680px) {
    max-width: 640px;
    padding: 0 15px;
  }
}
