// VARIABLES
$transition: all 0.4s ease;

// BREAKPOINTS
$desktop: 1330px;
$container: 1240px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;

// COLORS
$orange: #ffab08;
$dark-orange: #ff7020;
$black: #000;
$white: #fff;
