// VARIABLES
$transition: all 0.4s ease;
$mainFontFamily: "Nunito", "Arial", sans-serif;
$shadow: 0 0 10px 1px rgba(0, 0, 0, 0.07);

// BREAKPOINTS
$desktop: 1330px;
$container: 1240px;
$tablet-l: 1024px;
$tablet: 768px;
$mobile: 576px;

// COLORS
$orange: #ffab08;
$dark-orange: #ff7020;
$black: #000;
$white: #fff;
$lightBg: #f9f9f9;
$light: #f2f2f3;
