.button {
  border: none;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  padding: 11px 32px;
  border-radius: 12px;

  &--dark-orange {
    @extend .button;
    background-color: $dark-orange;
    color: $white;
  }

  &--light {
    @extend .button;
    background-color: $light;
  }

  @include mainTransitionHover;
}
