.cart-count {
  background-color: $light;
  border-radius: 12px;
  padding: 9px 12px;
  display: flex;
  user-select: none;
  align-items: center;
}

.cart-count__dec {
  @include clearActions;
  cursor: pointer;

  &--disabled {
    color: rgba($color: $black, $alpha: 0.4);
  }
}

.cart-count__text {
  @include clearActions;
  width: 20px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.cart-count__inc {
  @include clearActions;
  cursor: pointer;
}
