.categories {
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  background-color: $lightBg;
  transition: $transition;

  &.categories--sticky {
    background-color: $light;
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.categories__container {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-start;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  @media only screen and (min-width: $tablet) {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-orange;
    }
  }

  @media only screen and (max-width: $tablet) {
    gap: 12px;
  }

  @media only screen and (max-width: $mobile) {
    gap: 8px;
  }
}

.category {
  user-select: none;
  cursor: pointer;
  background-color: $white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 50px;
  box-shadow: $shadow;
  transition: $transition;
  border: 1px solid transparent;

  &.category--active {
    background-color: $orange;
  }

  &--disabled {
    background-color: rgba($color: $white, $alpha: 0.4);
    color: rgba($color: $black, $alpha: 0.7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2.3px;
      background-color: rgba(227, 11, 55, 0.8);

      @media only screen and (max-width: $tablet-l) {
        width: 90px;
        height: 2px;
      }

      @media only screen and (max-width: $tablet) {
        width: 80px;
      }

      @media only screen and (max-width: $mobile) {
        width: 72px;
      }
    }

    &::before {
      transform: rotate(28deg);
    }

    &::after {
      transform: rotate(-28deg);
    }
  }

  &:hover {
    border-color: $dark-orange;
  }

  @media only screen and (max-width: $tablet) {
    padding: 3px 8px;
    // font-size: 12px;
  }
}

.category__image {
  max-width: 24px;
  width: 100%;
  height: auto;
}

.category__text {
  font-weight: 400;
  line-height: normal;
}
