.footer {
  padding: 40px 0;
  background-color: $white;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.footer-logo {
  display: flex;
  margin-right: 30px;
  @include mainTransitionHover;

  @media only screen and (max-width: $tablet-l) {
    margin-right: 15px;
  }

  @media only screen and (max-width: $tablet) {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.footer-logo__img {
  max-width: 301px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: $tablet) {
    max-width: 196px;
  }
}

// FOOTER ACTIONS
.footer__actions {
  display: flex;
  align-items: flex-start;
  gap: 125px;

  @media only screen and (max-width: $desktop) {
    gap: 90px;
  }

  @media only screen and (max-width: $tablet-l) {
    gap: 50px;
  }
}

.footer__actions-text {
  font-size: 24px;
  line-height: 1;

  @media only screen and (max-width: $tablet) {
    font-size: 18px;
  }
}

// FOOTER CALL
.footer__call {
  display: flex;
  flex-direction: column;
}

.footer__call-text {
  margin-top: 0;
  margin-bottom: 24px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 8px;
  }
}

.footer__call-link {
  color: $black;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../icons/icon-phone.svg") no-repeat center / contain;
    margin-right: 4px;
  }

  @include mainTransitionHover;
}

// FOOTER SOCIALS
.footer__socials {
  display: flex;
  flex-direction: column;
}

.footer__socials-text {
  margin-top: 0;
  margin-bottom: 22px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 8px;
  }
}

.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__socials-link {
  display: flex;
  @include mainTransitionHover;
}

.footer__socials-icon {
  max-width: 36px;
  width: 100px;
  height: auto;
}

.footer__copyright {
  margin: 0;
  color: #000;
  font-size: 12px;
}
