.header {
  background-color: $orange;
  display: flex;
  justify-content: center;
  padding: 24px 0;

  @media only screen and (max-width: $tablet) {
    padding: 22px 0;
  }
}

.logo {
  display: flex;
  @include mainTransitionHover;
}

.logo__pic {
  display: block;
  max-width: 151px;
  width: 100%;
  height: auto;
}
